<!DOCTYPE html>

<html 
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlsn:layout="http://www.ultraq.net.nz/thymeleaf/layout">
		
	<head>
	
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<title>Teste Felipe Camargo</title>
		
	</head>
	
	<body class="container">
	
		<p>
			<a href="/welcome">
       		<i class="medium material-icons s6">arrow_back</i>
			</a>
		<p>
		
		<table>
		<thead>
				<tr>
					<th>Avatar:</th>
					<th>Name:</th>
					<th>Stars:</th>
					<th>Forks:</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="lista:${lista}">
					<td><img th:src="${lista.owner.avatar_url}" class="responsive-img" alt="Avatar" width="32" height="32"/></td>
					<td><span th:text="${lista.full_name}"/></td>
					<td><span th:text="${lista.stargazers_count}"/></td>
					<td><span th:text="${lista.forks}"/></td>
				</tr>
			</tbody>
		</table>
		
		<!--JavaScript at end of body for optimized loading-->
		<script type="text/javascript" src="js/materialize.min.js">
		</script>
	
		<p>
			<a href="/welcome">
       		<i class="medium material-icons s6">arrow_back</i>
			</a>
		<p>
	
	</body>
	<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l7 s12">
                <h6>Obrigado pela oportunidade!</h6>
              </div>
              <div class="col l3 offset-l2 s12">	
                <h6 class="white-text">Sobre mim:</h6>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/felipeocamargo/">LinkedIn</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://trailhead.salesforce.com/pt-BR/me/fdeoliveiracamargo">Trailhead</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://bitbucket.org/xachin/">Bitbucket</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            ©2019 Felipe de Oliveira Camargo
            </div>
          </div>
	</footer>
</html>